@{
    ViewData["Title"] = StringsAccessor.Value.ViewTitle_ManageAccount;
    VakAccount vakAccount = ViewData[nameof(VakAccount)] as VakAccount;
}

<h2>@StringsAccessor.Value.ViewTitle_ManageAccount.</h2>
<div>
    logo
</div>
<hr />
<div>
    <div>
        @StringsAccessor.Value.DisplayName_Password
    </div>
    <div>
        Last changed: <span duration-start="@vakAccount.PasswordLastChanged"></span>
    </div>
    <div>
        <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.ChangePassword)">Change password</a>
    </div>
</div>
<hr />
<div>
    <div>
        @StringsAccessor.Value.DisplayName_Email
    </div>
    <div>
        Email address: @vakAccount.Email
    </div>
    @if (vakAccount.EmailVerified)
    {
        <div>
            Email address verified
        </div>
    }
    else
    {
        <div>
            Email address unverified
        </div>
        <div>
            <form asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.SendEmailVerificationEmail)" method="post" role="form">
                <div>
                    <button type="submit">Send verification email</button>
                </div>
            </form>
        </div>
    }
    <div>
        <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.ChangeEmail)">Change email</a>
    </div>
</div>
<hr />
<div>
    <div>
        @StringsAccessor.Value.DisplayName_AlternativeEmail
    </div>
    @if (vakAccount.AlternativeEmail == null)
    {
        <div>
            Alternative email address not set
        </div>
    }
    else
    {
        <div>
            Alternative email address: @vakAccount.AlternativeEmail
        </div>
        @if (vakAccount.AlternativeEmailVerified)
        {
            <div>
                Alternative email address verified
            </div>
        }
        else
        {
            <div>
                Alternative email unverified
            </div>
            <form asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.SendAlternativeEmailVerificationEmail)" method="post" role="form">
                <div>
                    <button type="submit">Send verification email</button>
                </div>
            </form>
        }
    }
    <div>
        <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.ChangeAlternativeEmail)">Change alternative email</a>
    </div>
</div>
<hr />
<div>
    <div>
        @StringsAccessor.Value.DisplayName_DisplayName
    </div>
    @if (vakAccount.DisplayName == null)
    {
        <div>
            Display name not set
        </div>
    }
    else
    {
        <div>
            Display name: @vakAccount.DisplayName
        </div>
    }
    <div>
        <a asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.ChangeDisplayName)">Change display name</a>
    </div>
</div>
<hr />
<div>
    <div>
        @StringsAccessor.Value.DisplayName_TwoFactor
    </div>
    @if (vakAccount.TwoFactorEnabled)
    {
        <div>
            Two factor enabled
        </div>
        <form asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.DisableTwoFactor)" method="post" role="form">
            <div>
                <button type="submit">Disable two factor authentication</button>
            </div>
        </form>
    }
    else
    {
        <div>
            Two factor disabled
        </div>
        <form asp-controller="@nameof(AccountController).Replace("Controller", "")" asp-action="@nameof(AccountController.EnableTwoFactor)" method="post" role="form">
            <div>
                <button type="submit">Enable two factor authentication</button>
            </div>
        </form>
    }
</div>

