@model TestTwoFactorViewModel

@{ 
    ViewData["Title"] = StringOptionsAccessor.Value.ViewTitle_TestTwoFactor;
    VakAccount vakAccount = ViewData[nameof(VakAccount)] as VakAccount;
}

<h2>@StringOptionsAccessor.Value.ViewTitle_TestTwoFactor.</h2>
<div>logo</div>
<div>Two factor description</div>
<form asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action="@nameof(AccountController.TestTwoFactor)" method="post" role="form">
    <div>
        <label asp-for="Code"></label>
        <div>
            <input asp-for="Code" />
            <span asp-validation-for="Code"></span>
        </div>
    </div>
    <div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
<div>
    <a asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action="@nameof(AccountController.ManageAccount)">Cancel</a>
</div>