@using Jering.VectorArtKit.WebApplication.Controllers
@model VerifyTwoFactorCodeViewModel

@{
    ViewData["Title"] = "Verify two factor code";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action="@nameof(AccountController.VerifyTwoFactorCode)" 
      asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div>
        Two factor explanation.
    </div>
    <div>
        <label asp-for="Code"></label>
        <div>
            <input asp-for="Code" />
            <span asp-validation-for="Code"></span>
        </div>
    </div>
    <div>
        <input asp-for="IsPersistent" type="hidden"/>
    </div>
    <div>
        <div>
            <a asp-controller="@nameof(AccountController).Replace("Controller","")" asp-action=@nameof(AccountController.SendTwoFactorCode)>Resend code</a>
        </div>
        <div>
            Resend code result
        </div>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>